body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15%;
}

.main-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
}

.title-img {
  transform: rotate(25deg);
  width: 60%;
  margin-left: 15%;
  padding: 5%;
}

/* NAV BAR */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
}
.download-button {
  margin: 5% 3% 5% 0;
}
/* FEATURES */
#features {
  text-align: center;
  padding: 7% 15%;
}

.features-icon {
  color: #ef8172;
  width: 50%;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}

.feature {
  padding: 5%;
}
.feature h3 {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 800;
}

.feature p {
  color: #8f8f8f;
}

/* TESTIMONIAL */

.testimonial-text {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}

#testimonials {
  text-align: center;

  background-color: #ef8172;
  color: #fff;
}
.carousel-item {
  padding: 7% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
